html {
  background-color: rgb(133, 118, 108);
}
h1 {
  color: rgb(238, 174, 115);
}
h2 {
  color: rgb(131, 179, 139);
}
p {
  color: rgb(131, 179, 139);
}
.cards img {
  max-height: 200px;
}
.logo {
  height: 100px;
  float: left;
  margin-right: 15px; 
}
a:link {
  color: rgb(131, 179, 139);
}
a:visited {
  color: rgb(238, 174, 115);
}
ul {
  list-style-type: none;
  padding: 0px;
}